{% extends "main/layout.html" %}

{% block css %}
<link rel="shortcut icon" href="/static/main/img/LOGO.png">
<link rel="stylesheet" href="/static/module/css/style.css">
<link rel="stylesheet" href="/static/main/css/main.css">
<link rel="stylesheet" href="/static/module/css/board.css">
<link rel="stylesheet" href="/static/main/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="/static/main/js/jquery-3.5.0.min.js"></script>
<script src="/static/main/js/bootstrap.min.js"></script>
<script src="/static/main/js/main.js"></script>
<script src="/static/main/js/jquery.form.min.js"></script>
<script src="/static/module/js/modulemod.js"></script>
{% endblock %}

{% block content %}
<h2>인식모듈<p>인식모듈 > 조회 > 수정</p>
</h2>
<hr class="hr1">
<form action="http://15.164.70.209:5000/api/upload_file" method="post" enctype="multipart/form-data"
      onsubmit="return formChk()">
    <div class="notdetail_wrap">
        <table class="boardview">
            <colgroup>
                <col width="15%">
                <col width="60%">
                <col width="15%">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th scope="row" class="th tit">모듈명</th>
                <td class="td tit">
                    <input class="tit-input" style="width: 90%" id="module_name">
                </td>
                <th scope="row" class="th tit">버전정보</th>
                <td class="td tit">
                    <input class="tit-input" id="module_version">
                </td>

            </tr>
            <tr>
                <th scope="row" class="th">작성자</th>
                <td class="td" id="module_author">
                </td>
                <th scope="row" class="th">조회수</th>
                <td class="td" id="module_click"></td>
            </tr>
            <tr>
                <th scope="row" class="th">작성일</th>
                <td colspan="4" class="td" id="module_time">
                </td>
            </tr>
            <tr>
                <th scope="row" class="th">첨부파일</th>
                <td class="td">
                    <div id="file_info"><span id="file_span"></span><button class="x-btn" id="xbtn">&nbsp;X</button></div>
                </td>
                <th scope="row" class="th"></th>
                <td class="td text-center">
                    <input name="upload_file_user_key" id="upload_file_user_key" style="display: none"/>
                    <input name="upload_file_request" id="upload_file_request" style="display: none" value="LGMOD0003"/>
                    <input name="upload_file_index" id="upload_file_index" style="display: none"/>
                    <input name="upload_file_file_name" id="upload_file_file_name" style="display: none"/>
                    <input name="upload_file_file_size" id="upload_file_file_size" style="display: none"/>
                    <input type="file" style="width: 50%; display: none" id="upload_file_file" name="upload_file_file">
                    <button type="button" class="upload-btn" id="uploadbtn">파일첨부</button>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text">
                    <textarea class="content-input" placeholder="내용입력" id="module_memo"></textarea>
                </td>
            </tr>
            <tr>
                <th scope="row" class="th">첨부파일 <br>업로드 <br>진행율</th>
                <td colspan="3" class="td">
                    <div class="progress">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                    <div id="status"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" style="width: 100%;margin-bottom: 1rem; margin-top: 1rem;">
        <input style="display: none" id="idx" value="{{moduleindex}}">
        <input style="display: none" id="existflag">
        <input style="display: none" id="delapiflag" value="N">
        <button type="button" class="btn btn-default" id="cancel_modmodule">수정 취소</button>
        <button type="submit" class="btn btn-default" id="mod_module2">수정 완료</button>
    </div>
</form>
{% endblock %}
