* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    padding: 50px;
    padding-top: 0px;
}

.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.board_list_head {
    border-top: 2px solid green;
    border-bottom: 1px solid #ccc;
}

.board_list_body .item {
    border-bottom: 1px solid #ccc;
}

.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 1vw;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .name {
    width: 30%;
}

.board_list .version{
    width: 24%;
}

.board_list_body div.name {
    text-align: left;
}

.board_list_body div.name a:hover {
    text-decoration: underline;
}

.board_list .filecheck{
    width: 5%
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 15%;
}

.board_list .view {
    width: 5%;
}

.boardview {
	margin-left: 12em;
    margin-right: 12em;
    width: 70%;
}

.total_perpage{
    padding: 50px;
    padding-bottom: 0px;
}

.total_count{
    text-align: left;
    display: inline-block;
    font-size: 1.2em;
}

.total_count span{
    color: blue;
    font-size: 1.2em;
}

/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url(../img/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: #999;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
    cursor: pointer;
}

.paging a.num.on {
    color: green;
}

.paging a.num:hover {
    text-decoration: underline;
}

.notdetail_wrap{
    width: 100%;
    display: inline-block;
}

.notdetail_wrap tbody{
    border-top: 2px solid green;
    border-bottom: 1px solid #ccc;
}

.notdetail_wrap tr {
    border-bottom: 1px solid #ccc;
}

.notdetail_wrap th{
	border-right: 1px solid #ccc;
}

.notdetail_wrap td{

}

@media screen and (max-width: 767px){
    .board_list_wrap {
        padding: 10px;
        padding-top: 0px;
    }

    .board_list_head,
    .board_list_body .item {
        padding: 10px 0;
        font-size: 1vw;
    }

    .board_list_head {
        border-top: 2px solid green;
        border-bottom: 1px solid #ccc;
    }

    .board_list_body .item {
        border-bottom: 1px solid #ccc;
    }

    .board_list_head > div,
    .board_list_body .item > div {
        display: inline-block;
        text-align: center;
        font-size: 2.5em;
    }

    .board_list_head > div {
        font-weight: 600;
    }

    .board_list .num {
        width: 7%;
    }

    .board_list .name {
        width: 22%;
    }
    .board_list_body div.name {
        text-align: left;
    }
    .board_list_body div.name a:hover {
        text-decoration: underline;
    }

    .board_list .version{
        width: 15%
    }

    .board_list .writer {
        width: 12%;
    }

    .board_list .filecheck{
        width: 10%;
    }

    .board_list .date {
        width: 20%;
    }

    .board_list .view {
        width: 9%;
    }

    .boardview {
        margin-left: 2em;
        margin-right: 2em;
        width: 98%;
    }

    .total_perpage{
        padding: 50px; padding-bottom: 0px;
    }

    .total_count{
        text-align: left;
        display: inline-block;
        font-size: 1.2em;
    }

    .total_count span{
        color: blue;
        font-size: 1.2em;
    }

    #box{
        width: 6em;
        font-size: 3em;
    }

    /* paging */
    .paging {
        margin-top: 30px;
        text-align: center;
    }

    .paging a {
        font-size: 2.5em;
        display: inline-block;
        vertical-align: middle;
    }

    .paging a.bt {
        width: 30px;
        height: 30px;
        background-color: #ccc;
        background-image: url(../img/page_bt.png);
        background-repeat: no-repeat;
        border-radius: 100px;
        text-indent: -1000px;
        overflow: hidden;
    }

    .paging a.bt:hover {
        background-color: #999;
        cursor: pointer;
    }

    .paging a.first {
        background-position: 10px -40px;
    }

    .paging a.prev {
        margin-right: 5px;
        background-position: 10px 10px;
    }

    .paging a.next {
        margin-left: 5px;
        background-position: -40px 10px;
    }

    .paging a.last {
        background-position: -40px -40px;
    }

    .paging a.num {
        margin: 0 5px;
    }

    .paging a.num.on {
        color: green;
    }

    .paging a.num:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .notdetail_wrap tbody{
    }

    .notdetail_wrap tr {
        height: 30px;
    }

    .notdetail_wrap th{
        text-align: center;
        font-size: 2.5em;
    }

    .notdetail_wrap td{
        font-size: 2.4em;
    }

    .searchfrm {
        margin: 0 auto;
        width: 100%;
        /* To see the outline of the form */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }
    .total_perpage{
        padding: 30px 10px 0px 10px;
    }

    .total_count{
        text-align: left;
        display: inline-block;
        font-size: 3em;
    }

    .total_count span{
        color: blue;
    }
}