<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ajax-cross-origin.min.js"></script>
    <script type="text/javascript" src="../static/js/sc_cmf_sg/config.js"></script>
    <script type="text/javascript" src="../static/js/api.js"></script>
    <script type="text/javascript" src="../static/js/login_test.js"></script>
    <script type="text/javascript" src="../static/js/company_test.js"></script>
    <script type="text/javascript" src="../static/js/module_test.js"></script>
    <script type="text/javascript" src="../static/js/key_test.js"></script>

</head>
<body>
<div>
    <select id="code_select">
        <option value="login_div" selected>Login</option>
        <option value="company_div">Company</option>
        <option value="module_div">Module</option>
        <option value="key_div">Key</option>
    </select>
</div>

<div id="context_10000">
</div>

</body>
</html>